---
development: &default
  adapter: postgresql
  encoding: unicode
  database: postgres
  pool: 5
  username: postgres
  password:
  host: localhost # run ruby on host
  # host: db # everything via docker services

test:
  <<: *default
  database: app_test
