---
defaults: &defaults
  username: ubuntu
  password:

development:
  <<: *defaults
  adapter: postgresql
  encoding: unicode
  database: bloom_remit_rails_development

test:
  <<: *defaults
  adapter: postgresql
  encoding: unicode
  database: bloom_remit_rails_test
